<h1>Current Sprint: <span data-bind="text: sprintName"></span></h1>
@*<p>Data: <span data-bind="text: burndown()"></span></p>*@
<div id="burndownChart" class="highchart-chart"></div>

<script src="~/TypeScript/Shared/BaseSprintViewModel.js"></script>
<script src="~/TypeScript/Home/Burndown.js"></script>
