@{
    ViewBag.Title = "Home Page";
}

<ul class="list-group">
    <li class="list-group-item"><a href="/PlanSprint">Plan New Sprint</a></li>
    <li class="list-group-item"><a href="/ViewSprint">View Current Sprint</a></li>
    <li class="list-group-item"><a href="/Burndown">View Burndown</a></li>
    <li class="list-group-item"><a href="/EstimatesVsActuals">View Estimates vs. Actuals</a></li>
    <li class="list-group-item"><a href="/PersonalActionLog">Personal Action Log</a></li>
    <li class="list-group-item"><a href="/Management">Management</a></li>
</ul>

@section scripts {
    @Scripts.Render("~/bundles/homeScripts")
}