@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1>ScrumThing</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="/PlanSprint">Plan New Sprint</a></li>
        <li class="list-group-item"><a href="/ViewSprint">View Current Sprint</a></li>
        <li class="list-group-item"><a href="/Burndown">View Burndown</a></li>
        <li class="list-group-item"><a href="/EstimatesVsActuals">View Estimates vs. Actuals</a></li>
    </ul>
</div>

<script src="~/TypeScript/Shared/BaseSprintViewModel.js"></script>
<script src="~/TypeScript/Home/Home.js"></script>