@{
    ViewBag.Title = "Home Page";
}

<div class="logo"><image src="~/Content/images/ui-logo_300x62.png"></image></div>
<ul class="list-group">
    <li class="list-group-item"><a href="/PlanSprint">Plan New Sprint</a></li>
    <li class="list-group-item"><a href="/ViewSprint">View Current Sprint</a></li>
    <li class="list-group-item"><a href="/Burndown">View Burndown</a></li>
    <li class="list-group-item"><a href="/EstimatesVsActuals">View Estimates vs. Actuals</a></li>
</ul>

<script src="~/TypeScript/Shared/BaseSprintViewModel.js"></script>
<script src="~/TypeScript/Home/Home.js"></script>