<h1>Current Sprint: <span data-bind="text: sprintName"></span></h1>
<div id="estimatesVsActualsChart" class="highchart-chart"></div>

<script src="~/TypeScript/Shared/BaseSprintViewModel.js"></script>
<script src="~/TypeScript/Home/EstimatesVsActualsChart.js"></script>
