<h1>Current Sprint: <span data-bind="text: sprintName"></span></h1>

<h2>
    <span class="btn-group">
        <button class="btn btn-default" data-bind="click: $root.ExpandAll">Expand All</button>
        <button class="btn btn-default" data-bind="click: $root.CollapseAll">Collapse All</button>
        <button class="btn btn-default" data-bind="click: $root.SmartCollapse, tooltip: { title: 'Collapse complete stories only', placement: 'top' }">Smart Collapse</button>
    </span>
</h2>

<table id="viewSprintTable" class="table table-bordered table-fixed">
    <thead>
        <tr>
            <th width="10" style="padding:0"></th>
            <th>Story</th>
            <th>Blocked</th>
            <th>Ready For Dev</th>
            <th>Dev In Progress</th>
            <th>Ready For QS</th>
            <th>QS In Progress</th>
            <th>Complete</th>
        </tr>
    </thead>
    <tbody>
        <!-- ko template: { name: 'viewSprintStoryTemplate', foreach: committedStories() } -->
        <!-- /ko -->
    </tbody>
    <tbody>
        <tr class="reachGoalLine">
            <td style="display: none" colspan="8" data-bind="visible: reachStories().length > 0">Reach Goals</td>
        </tr>
    </tbody>
    <tbody class="reachGoalSection">
        <!-- ko template: { name: 'viewSprintStoryTemplate', foreach: reachStories() } -->
        <!-- /ko -->
    </tbody>
</table>

<div id="taskDetails" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" data-bind="text: currentTask() != null ? 'Task ' + currentTask().Ordinal() + ' - ' + currentTask().TaskText() : 'Task Details'"></h2>
            </div>

            <div class="modal-body">
                <!-- ko if: currentTask() != null -->
                    <!-- ko template: { name: 'taskTagTemplate', data: currentTask() } -->
                    <!-- /ko -->
                    <h2>Hours</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="3">Dev</th>
                                <th colspan="3">QS</th>
                            </tr>
                            <tr>
                                <th>Estimated</th>
                                <th>Burned</th>
                                <th>Remaining</th>
                                <th>Estimated</th>
                                <th>Burned</th>
                                <th>Remaining</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><div class="text-center" data-bind="text: currentTask().EstimatedDevHours"></div></td>
                                <td><input class="form-control" type="number" data-bind="value: currentTask().DevHoursBurned" /></td>
                                <td><input class="form-control" type="number" data-bind="value: currentTask().RemainingDevHours" /></td>
                                <td><div class="text-center" data-bind="text: currentTask().EstimatedQsHours"></div></td>
                                <td><input class="form-control" type="number" data-bind="value: currentTask().QsHoursBurned" /></td>
                                <td><input class="form-control" type="number" data-bind="value: currentTask().RemainingQsHours" /></td>
                            </tr>
                        </tbody>
                    </table>

                    <h2>Assignments</h2>
                    <select id="drpAssignment" data-bind="multiselect: true,
                                                              options: resources,
                                                              optionsValue: 'UserName',
                                                              optionsText: 'UserName',
                                                              selectedOptions: currentTask().AssignmentsForDropdown" multiple="multiple"></select>



                    <h2>Task Notes</h2>
                    <textarea class="form-control" data-bind="text: newNote, value: newNote" placeholder="Add note"></textarea>
                    <input class="btn btn-default" type="button" value="Add Note" data-bind="click: $root.AddNote" />

                    <!-- TODO: fix ALLLLL this -->
                    <p></p>

                    <div class="list-group">
                        <!-- ko foreach: currentTask().Notes -->
                        <span class="list-group-item">
                            <span class="badge" data-bind="text: UserName() + ' - ' + DisplayTimestamp()"></span>
                            <span data-bind="text: Note"></span>
                        </span>
                        <!-- /ko -->
                    </div>
                <!-- /ko -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="stateTemplate">
    <td data-bind="attr: { ondrop: $root.OnDropTask($data) }" ondragover="viewModel.AllowDrop(event)">
        <div class="list-group">
            <!-- ko template: { name: 'taskTemplate', data: $data }-->
            <!-- /ko -->
        </div>
    </td>
</script>

<script type="text/html" id="taskTemplate">
    <!-- ko foreach: $root.GetStoryTasksInState($data.Story, $data.State) -->
    <a href="#" class="list-group-item break-word"
       draggable="true"
       ondragstart="viewModel.Drag(event)"
       data-bind="attr: { id: HtmlId },
                      click: $root.SetTask($data),
                      css: $root.ClassForTask($data)">
        <strong><span class="bold" data-bind="text: $parent.Story.Ordinal() + '.' + Ordinal()"></span></strong>
        <span data-bind="text: TaskText"></span>
        <br />

        <span class="label label-default" data-bind="text: 'Dev: ' + DevHoursBurned() + '/' + RemainingDevHours(), tooltip: { title: 'Burned / Remaining', placement: 'top' }"></span>
        <span class="label label-default" data-bind="text: 'QS: ' + QsHoursBurned() + '/' + RemainingQsHours(), tooltip: { title: 'Burned / Remaining', placement: 'top' }"></span>
        <br />

        <!-- ko foreach: Assignments() -->
            <span class="label tag-assignment" data-bind="text: UserName"></span>
        <!-- /ko -->

        <!-- ko template: { name: 'taskTagTemplate' } -->
        <!-- /ko -->

        <!-- ko if: Notes().length > 0-->
            <div class="label label-default">
                <span class="glyphicon glyphicon-comment invert"></span>
                <span class="invert" data-bind="text: Notes().length"></span>
            </div>
        <!-- /ko -->
    </a>
    <!-- /ko -->
</script>

<script type="text/html" id="viewSprintStoryTemplate">
    <!-- ko if: Collapsed() -->
    <tr>
        <td data-bind="css: { complete : Complete(), blocked : Blocked(), progressing : Progressing(), qsReadyOrInProgress: QSReadyOrInProgress() }"></td>
        <td colspan="7">
            <div class="text-left">
                <span class="glyphicon glyphicon-chevron-right" data-bind="click: $root.MakeSetCollapsedHandler($data, false)"></span>
                <strong><span data-bind="text: Ordinal(), css: Complete() ? 'text-success' : ''"></span></strong>
                <span data-bind="text: StoryText, css: Complete() ? 'text-success' : ''"></span>
            </div>
            <!-- We inherit the display property directly from td to avoid styling applied globally to tr by site.css. -->
            <div style="display: inherit;">
                <!-- ko template: { name: 'storyTagTemplate' } -->
                <!-- /ko -->

                <!-- ko foreach: $root.GetAllAssignmentsForStory($data) -->
                    <span class="label tag-assignment" data-bind="text: $data"></span>
                <!-- /ko -->
            </div>
        </td>
    </tr>
    <!-- /ko -->
    <!-- ko if: !Collapsed() -->
    <tr>
        <td data-bind="css: { complete : Complete(), blocked : Blocked(), progressing : Progressing(), qsReadyOrInProgress: QSReadyOrInProgress() }"></td>
        <td class="break-word">
            <span class="glyphicon glyphicon-chevron-down pull-left" data-bind="click: $root.MakeSetCollapsedHandler($data, true)"></span>
            <strong><span data-bind="text: Ordinal, css: Complete() ? 'text-success' : ''"></span></strong>
            <span data-bind="text: StoryText, css: Complete() ? 'text-success' : ''"></span>
            <div>
                <!-- ko template: { name: 'storyTagTemplate' } -->
                <!-- /ko -->
            </div>
        </td>

        <!-- ko foreach: $root.states -->
            <!-- ko template: { name: 'stateTemplate', data: { Story: $parent, State: $data } }-->
            <!-- /ko -->
        <!-- /ko -->
    </tr>
    <!-- /ko -->
</script>

<script type="text/html" id="taskTagTemplate">
    <!-- ko if: _.any(TaskTags(), function (tag) { return tag.IsIncluded; }) -->
    <div class="taskTags">
        <!-- ko foreach: TaskTags() -->
            <!-- ko if: IsIncluded -->
                <span data-bind="text: TaskTagDescription, attr: { class: TaskTagClasses }"></span>
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- /ko -->
</script>

<script type="text/html" id="storyTagTemplate">
    <!-- ko foreach: $parent.GetSelectedStoryTags($data) -->
        <span class="label tag-story" data-bind="text: StoryTagDescription"></span>
    <!-- /ko -->
</script>

<script src="~/TypeScript/Shared/BaseSprintViewModel.js"></script>
<script src="~/TypeScript/Home/ViewSprint.js"></script>


