@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
          "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Jasmine Spec Runner</title>

    <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
    <script type="text/javascript" src="/Scripts/jasmine/jasmine.js"></script>
    <script type="text/javascript" src="/Scripts/jasmine/jasmine-html.js"></script>
    <script type="text/javascript" src="/Scripts/jasmine/boot.js"></script>

    <!-- include framework files here -->
    <script src="http://localhost:46811/Scripts/jquery-2.1.4.js"></script>
    <script src="http://localhost:46811/Scripts/knockout-3.3.0.debug.js"></script>
    <script src="http://localhost:46811/Scripts/underscore.js"></script>    
    <script src="http://localhost:46811/Scripts/toastr.js"></script>

    <!-- include source files here -->
    @Scripts.Render("~/bundles/ScrumThingSourceFiles")

    <!-- include spec files here... -->
    <script src="~/ScrumThingSpecifications/PresentationLayerSpecs/Home/PersonalActionLogSpecifications.js"></script>

</head>

<body>
</body>
</html>
