body, p, h1, span {
    color: rgba(51,71,79,0.87);
    font-family: 'Source Sans Pro', sans-serif;
    -ms-overflow-style: scrollbar;
}

.borderless {
    border: none;
}

.bottom-spacing {
    margin-bottom: 10px;
}

.container-fluid {
    margin-right: 45px;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu > li > a {
    padding: 15px;
}

.navbar .container-fluid {
    margin-right: auto;
}

.navbar {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.navbar-default {
    border-color: #ccc;
    background-color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #29B6F6;
    text-decoration: none;
}

.navbar-brand {
    padding: 4px 15px;
}

.no-link, no-link:hover {
    text-decoration: none;
    cursor: default;
    color: inherit;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px #9E9E9E solid;
}

thead {
    background-color: rgba(207, 216, 220, 0.82);
}

tbody {
    background-color: #F5F5F5;
}

.active, .active span {
    color: #ffffff;
}

.break-word {
    word-wrap: break-word
}

.task-text {
    white-space:pre-wrap;
}

.logo{
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.logoIcon{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.columns {
    margin: 0 5% 0 5%;
    width: 90%;
}

    .columns td {
        background-color: #f4f4f4;
        border: 1px solid #808080;
        width: 16.66%;
        vertical-align: top;
    }

        .columns td div {
            height: 40px;
        }

.indent {
    list-style: none;
}

.invert {
    color: #ffffff;
}

.locked-resize {
    resize: vertical;
}

.table th {
    text-align: center;
}

.table tr {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.table-fixed {
    table-layout: fixed;
}

.taskTags {
    display: block;
    cursor: default;
}

.complete {
    background-color: #64DD17;
}

.complete, .complete span {
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.blocked {
    background-color: #D50000;
}

.blocked span, .complete span {
    color: #fff;
}

.blocked, .blocked span {
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.readyForQS {
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.readyForDev {
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.readyForDev {
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}

.reachGoalLine {
    background-color: #263238;
    color: #fff;
    font-size: 1.2em;
    border-color: #263238;
    border-width: 1px;
    border-style: solid;
}

.reachGoalSection {
    border-color: #263238;
    border-width: 1px;
    border-style: solid;
}

.storyTagsDropdown {
    margin-top: 2px;
}

.fixed-top-right {
    position: fixed;
    top: 10px;
    right: 10px;
}

.tag-story {
    background-color: #9E9E9E;
}

.tag-task {
    background-color: #5bc0de;
}

.tag-assignment {
    background-color: #7986CB;
    color: #FFFFFF;
}

/* modify bootstrap modal to be a little smaller than the viewport and overflow accordingly */

.modal-dialog .modal-body {
    max-height: calc(100vh - 230px);
    overflow-y: auto;
}

.modal .modal-dialog {
    margin: 0 auto;
    margin-top: 25px;
}

.highchart-chart {
    width: 99%;
}

#viewSprintDropdown {
    
}

.draggable {
    cursor: ns-resize;
}
